.navbar{
    padding-left: 20%;
    padding-right: 20%; 
}

.bg-1{
    background-image: url("../imagens/bg-s1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: 30% 30%;
    height: 596px;
}

.componentes1{
    padding-top: 15%;
    
}

.navbar-brand{
    color: #f0932b !important;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 130%;
}

@media screen and (max-width: 790px){
    .navbar-collapse{
        background-color: #C82333 !important;
        text-shadow: black 0.1em 0.1em 0.2em;
        box-shadow: black 0.1em 0.1em 0.2em;
        text-align: center;
    }

    .btn-form{
        margin-left: 10%;
    }
}

.img1-s2{
    width: 20vh;
    height: 20vh;
}

.img-amb{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.componentes2{
    align-items: center;
    padding-left: 15%;
}

.page-description{
    color:black;
    font-size: 15px;    
}

.img-s4{
    width: 60%;
    height: 60%;
    border-radius: 100%;
}

.componentes-contato{
    padding-top: 3%;
}

.form-p1{
    padding-left: 20%; 
}

.btn-form{
    margin-left: 48%;
}

.rodape{
    margin-bottom: -20px;
}

.icon-rodape{
    height: 25px;
    width: 25px;
    margin-left: 3px;
}

.c1-rodape{
    padding-left: 20%;
}

